* {
    padding: 0%;
    margin: 0%;
    background-color: #809686;
    background-size: cover;
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

nav a:hover {
    background-color: #000000;
    color: #E79E5A;
    border-radius: 10px; 
}
nav a:hover,
nav a.active{
    color: #E79E5A;
    background-color: #000000;
    border-radius:10px ;
}
nav a{
    padding: 0 10px 0 10px;
}

nav {
    display: block;
    position: fixed;
    background: #809686;
}

header {
    text-align: left;
    font-size: 35px;
    width: 100%;
    padding-bottom: 20px;
    height: 3vh;
    position: fixed;
    z-index: 10;
}

a {
    color: #000000;
    margin: 40px;
    text-decoration: none;
}

.image img {
    width: 550px;
    height: 550px;
    margin-left: 900px;
    position: absolute;
    margin-top: 120px;
    border-radius: 500px;
    border-color: white;
    border-style: double;
}

.hello {
    font-size: 90px;
    color: white;
    margin-left: 40px;
    padding-top: 200px;
    text-shadow: 8px 2px black;

}

main h2 {
    font-size: 130px;
    color: white;
    margin-left: 40px;
    padding-bottom: 400px;
    text-shadow: 10px 2px black;
}

.about h2 {
    font-size: 65.8px;
    color: #E79E5A;
    font-weight: bold;
    padding-top: 30px;
    text-shadow: 3px 3px black;
}

#abtme ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px black;

}

#abtme ul li {
    margin-bottom: 20px;
}

.education h2 {
    font-size: 65.8px;
    color: #E79E5A;
    font-weight: bold;
    text-align: left;
    padding-top: 30px;
    margin-top: 10px;
    text-shadow: 3px 3px black;
}

.myeducation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px black;
}

.skills h2 {
    font-size: 65.8px;
    color: #E79E5A;
    font-weight: bold;
    text-align: left;
    padding-top: 30px;
    margin-top: 10px;
    text-shadow: 3px 3px black;
}

.myskills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px black;
}
.skil{
   display: flex;
   justify-content: center;
   padding: 50px;
   padding-bottom: 30px;
}
.skillimg{
    
    height: 120px;
    display: flex;   
}
.contact h2 {
    font-size: 65.8px;
    color: #E79E5A;
    font-weight: bold;
    text-align: left;
    padding-top: 30px;
    margin-top: 10px;
    text-shadow: 3px 3px black;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hi {
    overflow: hidden;
}

.ct {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50px;
    right: 50px;
    top:380px;
    align-items: center;
    color: white;
    text-shadow: 1px 1px #000000;
    justify-content: space-around;
}

.pic {
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.co {
    width: auto;
    display: grid;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px #ffffff;
}